<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo0731.dao.entity.DemoTableMapper">
  <resultMap id="BaseResultMap" type="com.example.demo0731.dao.model.DemoTable">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="col1" jdbcType="VARCHAR" property="col1" />
  </resultMap>
</mapper>